
<footer class="text-center text-lg-start bg-light text-muted">
    <section class="d-flex justify-content-center p-4 ">
      
      <div class="d-lg-block">
        <h2 class="footer-title">Subscribe Newsletter</h2>
        <span>Subscribe my newsletter for new blog posts,tips and info</span>
      </div>
    </section>
    <div class="border-bottom email-form">
      <form>
        <input class="email-input" type="email" placeholder="Email address"><button style="background-color: black;color:white;">Subscribe</button>
      </form>
    </div>
    <div class="footer-main-container">
        <div class="footer-item"> PRIVACY POLICY</div>
        <div class="footer-item"> SUPPORT</div>
        <div class="footer-item"> ABOUT</div>
        <div class="footer-item"> CONTACT</div>
        <div class="footer-item"> TERMS</div>
        <div class="footer-item"> CATEGORY</div>
    </div>
    
    <div class="text-center p-4">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
  </footer>